services:
    influxdb:
        image: influxdb:1.8
        ports:
            - "8086:8086"
        environment:
            - INFLUXDB_DB=k6
        networks:
            - monitoring

    chronograf:
        image: chronograf:1.8
        ports:
            - "8888:8888"
        environment:
            - INFLUXDB_URL=http://influxdb:8086
            - INFLUXDB_USERNAME=root
            - INFLUXDB_PASSWORD=root
            - INFLUXDB_SKIP_VERIFY=true
        depends_on:
            - influxdb
        networks:
            - monitoring

    k6:
        image: grafana/k6:latest
        ports:
            - "6565:6565"
        environment:
            - K6_OUT=experimental-prometheus-rw
            - K6_PROMETHEUS_RW_SERVER_URL=http://prometheus:9090/api/v1/write
            - K6_PROMETHEUS_RW_TREND_AS_NATIVE_HISTOGRAM=true
        volumes:
            - ./scripts:/scripts
        depends_on:
            - prometheus
        networks:
            - monitoring

    pushgateway:
        image: prom/pushgateway:latest
        container_name: pushgateway
        ports:
            - "9091:9091"
        restart: unless-stopped
        networks:
            - monitoring

    redis:
        image: redis:7-alpine
        container_name: redis
        ports:
            - "6379:6379"
        restart: unless-stopped
        networks:
            - monitoring

    prometheus:
        image: prom/prometheus:latest
        container_name: prometheus
        ports:
            - "9090:9090"
        volumes:
            - ./prometheus.yml:/etc/prometheus/prometheus.yml
            - prom_data:/prometheus
        command:
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--web.enable-remote-write-receiver"
            - "--enable-feature=native-histograms"
        restart: unless-stopped
        networks:
            - monitoring

    grafana:
        image: grafana/grafana:8.5.27
        container_name: grafana
        ports:
            - "3000:3000"
        volumes:
            - grafana_data:/var/lib/grafana
            - ./grafana-datasource.yaml:/etc/grafana/provisioning/datasources/datasource.yaml:ro
            - ./grafana-dashboard.yaml:/etc/grafana/provisioning/dashboards/dashboard.yaml:ro
            - ./dashboards:/etc/grafana/provisioning/dashboards
        environment:
            - GF_SECURITY_ADMIN_PASSWORD=admin
            - GF_SECURITY_ADMIN_USER=admin
            - GF_INSTALL_PLUGINS=blackmirror1-singlestat-math-panel
            - GF_ANGULAR_SUPPORT_ENABLED=true
        depends_on:
            - influxdb
        restart: unless-stopped
        networks:
            - monitoring

volumes:
    prom_data:
    grafana_data:

networks:
    monitoring:
