@import url(../fonts/kalpurush/stylesheet.css);

body {
    background-image: url('../../images/back.png');
    background-position: center center;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
}
/*-------------------------------*/
.navbar{
    background: #198754 !important;
}

.dropdown{
    border-radius:0;
    border:0;
}
.dropdown-menu{
    background: #198754;
    border:0;
    top:80%;
    border-radius:0px 0px 5px 5px;
}
.dropdown-item:hover{
    background:#ec0b43;
    color:#fff;
}
.dropdown-menu a{
    color:#fff;
} 
.navbar .nav-item .nav-link{
    color:#eee !important; 
    
}
.navbar .nav-item .nav-link:hover .navbar .nav-item .nav-link{
    color:red !important;
    
}
/*--------------------------------*/
.card a { text-decoration:none;}
.card a:hover {
	text-decoration:underline;
}
p {
    text-align: justify;
}
.single {
    padding: 10px 10px;
    margin-top: 5px;
    background: #fcfcfc;
    border: 1px solid #f0f0f0; 
}
.single h3.side-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}
.single h3.side-title:after {
    content: '';
    width: 60px;
    height: 1px;
    background: #ff173c;
    display: block;
    margin-top: 6px; 
}
    
.single ul {
    margin-bottom: 0; 
}
.single li a {
    color: #00aeef;
    font-size: 12pt;
    border-bottom: 1px solid #f0f0f0;
    text-decoration: none; 
}
.single li a:hover {
    color: #ff173c; 
}
.single li:last-child a {
    border-bottom: 0; 
}

body {
  padding-bottom: 30px;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif, kalpurushregular;
}
.columns.one-col {
    height: auto;
    overflow-y: auto;
  }

.columns.two-col {
  -moz-column-count: 3;
    /* Firefox */
    -webkit-column-count: 3;
    /* Safari and Chrome */
    column-count: 3;
    height:auto;
}


.fa-play-circle:hover{
	color: #129aea;;
}

.blink{
	animation: blink 1s linear infinite;
}
@keyframes blink{
	0%{opacity: 0;}
	50%{opacity: .5;}
	100%{opacity: 1;}
}


/* Container holding the image and the text */
.poster-container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 8px;
}
/* Top right text */
.top-right {
	position: absolute;
    right: 16px;
    top: 8px; 
}
/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 38px;
    height: 36px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    background-image: url(../../images/bstar.png);
}
.side_heading {
	padding-left: 10px;
	padding-bottom: 6px;
	margin-bottom: 20px;
	border-bottom: 1px solid #a5c045;
	border-left: 8px solid red;
	color: white;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.tab-content p {
	margin-top:10px;
	text-align: justify;
}


/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.whov:hover { background-color: #00695c!important; }
.view {
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.4;
	height: 500px;

}
.secondbase {
    background-color: rgba(255,255,255,0.6); 
    margin-top: -90px;
}




/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss {
	background-color: #F56505;
}
.social-network a.icoTumblr {
	background-color: #2c4762;
}
.social-network a.icoFacebook {
	background-color:#3B5998;
}
.social-network a.icoTwitter {
	background-color:#33ccff;
}
.social-network a.icoGoogle {
	background-color:#BD3518;
}
.social-network a.icoVimeo {
	background-color:#0590B8;
}
.social-network a.icoLinkedin {
	background-color:#007bb7;
}

/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoTumblr:hover {
	background-color: #2c4762;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, a.icoTumblr:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 40px;
	height: 40px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:40px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}



.ui-menu .ui-menu-item{
    background-color: #F7F4F4;
    margin: 3px;
}
.ui-autocomplete-row a{
    display: inline-block;
    text-decoration: none;
    width: 93%;
}
.ui-autocomplete-row a span{
    padding: 10px;
    font-size: 15px;
    text-align: center;
}
.ui-autocomplete-row a img{
    vertical-align: middle;
}
.ui-state-active, .ui-widget-content .ui-state-active {
    border: none;
    background: #EFEFEF;
    color: inherit;
}
.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
    margin: 0;
}
.imgshine figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}